// *** Variables ***
$menu-border-value: 1px solid;
$menu-border-color: rgba(0, 0, 0, 0.3);
$menu-width: 350px;
$menu-transition-duration: 500ms;
$menu-background-color: #eee;

$transform-gpu: false;
$menu-border-left: true;
